{% block checkbox_widget %}
    <div class="checkbox kdt-checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ block('form_label') }}
    </div>
{% endblock checkbox_widget %}

{% block radio_widget %}
    <div class="kdt-radio">
        <input type="radio" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %}>
        {{ block('form_label') }}
    </div>
{% endblock radio_widget %}