{% extends "::backoffice_base.html.twig" %}
{% trans_default_domain 'users' %}

{% block bodyclass %}app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden{% endblock %}
{% block main %}
    <h1 class="text-center pb-2">{{ 'users_list' | trans }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th{% if pagination.isSorted('a.id') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, '#', 'a.id') }}
            </th>
            <th{% if pagination.isSorted('a.firstname') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'first_name' | trans, 'a.firstname') }}
            </th>
            <th{% if pagination.isSorted('a.lastname') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'last_name' | trans, 'a.lastname') }}
            </th>
            <th{% if pagination.isSorted('a.email') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'email' | trans, 'a.email') }}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for user in pagination %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('backoffice_users_update', {'id': user.id}) }}"
                       class="btn btn-primary">
                        <i class="fa fa-pencil"></i>&nbsp;{{ 'update' | trans }}
                    </a>
                    {% if not user.hasRole('ROLE_ADMIN') %}
                        <a href="{{ path('backoffice_users_delete', {'id': user.id}) }}"
                           onclick="return confirm('{{ 'delete_confirmation' | trans }}');"
                           class="btn btn-danger">
                            <i class="fa fa-trash"></i>&nbsp;{{ 'delete' | trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(pagination) }}
{% endblock %}
