<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_meta %}{% endblock %}
        <title>{% block title %}Accueil{% endblock %} - Kodrastan</title>
        <!-- Generic top stylesheet -->
        <link rel="stylesheet" href="{{ asset('CoreUI/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('front/assets/css/style.css') }}" type="text/css">

        <!-- Generic favicon -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <img title="logo" class="logo" alt="logo" src="{{ asset('front/assets/img/logo.png') }}">
            <h1>{% block poll_title %}Kodrastan{% endblock %}</h1>
        </header>
        <div class="container">
            {% for type, flash_messages in app.session.flashBag.all %}
                {% for flash_message in flash_messages %}
                    <div class="alert alert-{{ type }}">
                        {{ flash_message | raw }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block content %}{% endblock %}
        </div>
        <footer>
            <img title="logo-iut" class="logo-iut" alt="logo-iut" src="{{ asset('front/assets/img/logo-iut.png') }}">
            <p class="signature">Hugo Alliaume, Anthony Margerand et Richard Raduly</p>
        </footer>

        <!-- Bootstrap and necessary plugins -->
        <script src="{{ asset('CoreUI/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('CoreUI/bower_components/tether/dist/js/tether.min.js') }}"></script>
        <script src="{{ asset('CoreUI/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
