{% extends "::adminbase.html.twig" %}
{% block bodyclass %}app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden{% endblock %}
{% block main %}
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Création de sondage</li>
    </ol>

    <div class="container-fluid">
        <div id="app"></div>

        <div style="display: none;">
            {{ form(form) }}
            {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}

            <button class="btn btn-success">{{ 'save'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    <!-- /.conainer-fluid -->
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/vue"></script>
    <script>
      // var, because it should be accessible in other JS files
      var STRINGS = Object.freeze({
        save: "{{ 'save'|trans }}"
      });
    </script>
    <script src="{{ asset('admin-interface/dist/manifest.js') }}"></script>
    <script src="{{ asset('admin-interface/dist/vendor.js') }}"></script>
    <script src="{{ asset('admin-interface/dist/admin-add-poll.js') }}"></script>
{% endblock %}