{% extends "::adminbase.html.twig" %}
{% block bodyclass %}app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden{% endblock %}
{% block main %}
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Accueil</li>
        <li class="breadcrumb-item"><a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active">Création de sondage</li>
    </ol>

    <div class="container-fluid">
        <div class="row">
            <h1>
                <div class="text-center">Création d'un nouveau sondage</div>
            </h1>
        </div>
        <div>
            {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}

            <button class="btn btn-success">{{ 'save'|trans }}</button>
            {{ form_end(form) }}

        </div>

    </div>
    <!-- /.conainer-fluid -->
{% endblock %}
