{% trans_default_domain "FOSUserBundle" %}

<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand" href="{{ path('homepage') }}"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a href="{{ path('backoffice_config') }}" class="nav-link">
                    <i class="icon-settings"></i>
                    {{ 'sidebar.config' | trans({}, 'AppBundle') }}
                </a>
            </li>
        {% endif %}
        <li class="nav-item dropdown px-1">
            <a class="nav link dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                <i class=""></i>
                {{ app.user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="{{ path('fos_user_profile_show') }}" class="dropdown-item">
                    <i class="fa fa-user"></i>
                    {{ 'profile.show' | trans }}
                </a>
                <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item">
                    <i class="fa fa-sign-out"></i>
                    {{ 'layout.logout' | trans }}
                </a>
            </div>
        </li>
    </ul>
</header>
