{% trans_default_domain 'AppBundle' %}

<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a href="{{ path('backoffice_polls_add') }}" class="nav-link">
                    <i class="icon-plus"></i>
                    {{ 'sidebar.add_poll' | trans }}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('backoffice_polls') }}" class="nav-link">
                    <i class="icon-list"></i>
                    {{ 'sidebar.polls_list' | trans }}
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('backoffice_polls_archive') }}" class="nav-link">
                    <i class="icon-drawer"></i>
                    {{ 'sidebar.polls_archive' | trans }}
                </a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('backoffice_users') }}" class="nav-link">
                        <i class="icon-user"></i>
                        {{ 'sidebar.users_list' | trans }}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
