{% trans_default_domain 'AppBundle' %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head></head>
<body>
<p>
    {{ 'mails.share_poll.hello' | trans }}
</p>
<p>
    {{ 'mails.share_poll.please_complete_the_poll' | trans({'%first_name%': user.firstName, '%last_name%': user.lastName}) }}&nbsp;<a title="{{ 'mails.share_poll.link_to_poll' | trans }}" href="{{ url }}">{{ url }}</a>
</p>
<p>
    {{ 'mails.share_poll.cordially' | trans }}
</p>
<p>
    {{ 'mails.share_poll.signature' | trans }}
</p>
</body>
</html>
