{% trans_default_domain 'AppBundle' %}

{{ 'mails.share_poll.hello' | trans }}

{{ 'mails.share_poll.please_complete_the_poll' | trans }}&nbsp;<a title="{{ 'mails.share_poll.link_to_poll' | trans }}" href="{{ url }}">{{ url }}</a>

{{ 'mails.share_poll.cordially' | trans }}

{{ 'mails.share_poll.signature' | trans }}
