{% extends "::backoffice_base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/assets/css/kdt-inputs.css') }}" type="text/css"/>
{% endblock %}

{% block bodyclass %}app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden{% endblock %}
{% block main %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ loadTranslationsForVueJS('admin-poll') }}
    {{ loadVariantsFromDatabase() }}

    <script>
      var FORM_ACTION = "{{ path(app.request.get('_route')) }}";
    </script>

    <script src="{{ asset('admin-interface/dist/manifest.js') }}"></script>
    <script src="{{ asset('admin-interface/dist/vendor.js') }}"></script>
    <script src="{{ asset('admin-interface/dist/admin-add-poll.js') }}"></script>
{% endblock %}
