{% extends "::backoffice_base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'admin_poll.polls_list' | trans }}{% endblock %}

{% block main %}
    <h1 class="text-center">{{ 'admin_poll.polls_archive_list' | trans }}</h1>
    <hr>

    <div class="row justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="row pb-1">
        <div class="col">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(pagination, 'admin_poll.table.title' | trans, 'a.title') }}
                    </th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th class="hidden-sm-down {% if pagination.isSorted('a.user.email') %}sorted{% endif %}">
                            {{ knp_pagination_sortable(pagination, 'admin_poll.table.author' | trans, 'a.user.email') }}
                        </th>
                    {% endif %}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for poll in pagination %}
                    <tr>
                        <td>
                            <a target="_blank" href="{{ path('answer_poll_archive', {'token':poll.accessToken}) }}">
                                {{ poll.title }}&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="hidden-sm-down">
                                <a href="mailto:{{ poll.user.email }}?subject={{ 'admin_poll.table_values.about_the_poll' | trans({'{title}': poll.title}) }}">
                                    {{ poll.user.email }}
                                </a>
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('backoffice_poll_archive_delete', {'id': poll.id}) }}"
                               onclick="return confirm('{{ 'admin_poll.table_values.delete_confirmation' | trans }}')"
                               class="btn btn-danger btn-xs-block">
                                <i class="fa fa-trash"></i>&nbsp;<span
                                        class="hidden-sm-down">{{ 'admin_poll.table_values.delete' | trans }}</span>
                            </a>

                            <a href="{{ path('backoffice_poll_results', {'id': poll.id}) }}"
                                   class="btn btn-success btn-xs-block">
                                    <i class="fa fa-eye"></i>&nbsp;<span
                                            class="hidden-sm-down">{{ 'admin_poll.table_values.answers' | trans }}</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
