{% extends "::backoffice_base.html.twig" %}
{% trans_default_domain 'AppBundle' %}

{% block title %}{{ 'admin_poll.poll_results' | trans }}{% endblock %}

{% block mainclass %}main p-1 p-1-result{% endblock %}
{% block main %}


    <div class="row d-flex justify-content-center">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="card card-inverse card-info text-xs-center">
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <h2 class="text-center">{{ 'admin_poll.poll_results' | trans }} : {{ poll.title }}</h2>
                    </blockquote>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-default">
                        <a href="{{ path('backoffice_poll_export', {'id': poll.id}) }}">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i> Exporter vers excel
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        {% for chart in charts %}
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        {{ chart.question.qTitle }}
                        {% if chart.question.qType == 'LinearScale' %}
                            <span class="pull-right">
                                Moyenne des réponses au sondage : <strong
                                        class="average-linear-{{ chart.chart.id }}"></strong>
                            </span>
                        {% endif %}
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-1 hidden-lg-down">
                            </div>
                            <div class=" col-md-6 col-12">
                                <table class="table table-bordered table-striped table-condensed table-sm">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Proposition</th>
                                        <th>Quantité</th>
                                        <th>Pourcentage</th>
                                    </tr>
                                    </thead>
                                    <tbody class="chart-legend-{{ chart.chart.id }}" data-type="{{ chart.question.qType }}">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-2 hidden-md-up">
                            </div>
                            <div class="col-md-5 col-lg-4 col-sm-8 col-12">
                                <div class="row">
                                    <div class="col-md-2 hidden-xs-down"></div>
                                    <div class="col-md-10 col-12">
                                        <div class="chart-wrapper">
                                            {{ chartjs_render_html(chart.chart) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 hidden-xs-down">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% block javascripts %}
        <!-- ChartJSStart -->
        <script src="{{ asset('CoreUI/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('CoreUI/bower_components/chart.js/dist/Chart.min.js') }}"></script>
        <script>
            //            Chart.defaults.global.animation.duration = 0;
            {% for chart in charts %}
            {{ chartjs_render_js(chart.chart) }}
            {% endfor %}
        </script>
        <!-- ChartJSEnd -->
    {% endblock %}
{% endblock %}
